/ # March 2014
/ # Author: Kyla Kolb

%h1
	Start Quiz
%br
Click the Start button to begin the logo quiz.
%br
%br
= form_tag({:controller => "quiz", :action => "start"})
= submit_tag "Start!", :class => "submit"